kardel-web/src/main/resources/META-INF/customLag.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        targetNamespace="http://www.lexueba.com/schema/userForFactory"
        xmlns:tns="http://www.lexueba.com/schema/userForFactory">

    <element name="userForFactory">
        <complexType >
            <attribute name="id"        type="string"/>
            <attribute name="userName"  type="string" />
            <attribute name="email"     type="string" />
        </complexType>
    </element>

</schema>